/* zeroed out margin and padding. created a universal box-sizing. established the universal font-family - per Google Fonts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    background-color: #f5f5f5;
}

/* created a flex container for the header, main and footer elements */
header,
main,
footer {
    display: flex;
    width: 85%;
    margin:20px  auto;
    justify-content: space-between;
}
/* created even spacing in the header and footer navs */
nav {
    display:flex;
    justify-content: space-evenly;
    width: 80%;
}
nav a {
    border-left: solid black 1px;
    justify-content: center;
    align-content:center;
    padding-left:15px;
    text-decoration: none;
    color:black;
    width: 100%;
    /*width: 400px;*/
}
nav a:hover {
    background-color:lightgray;
}
aside {
    width: 20%;
}
/* creates a flex-wrap for the project images */
article {
    width:80%;
    display: flex;
    flex-wrap: wrap;
}
/* filter property changes the image to a grayscale. creates a flex container for the paragraph tag to justify and align center. */
.project {
    filter: grayscale(100%);
    background-size: cover;
    width: 300px;
    height: 225px;
    flex: 0 0 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border:black solid 2px;
}
 /* this psuedo-class will remove the greyscale filter on hover */ 
.project:hover {
    filter:none;
}

.project p {
    color:white;
    text-shadow: 0px 0px 10px black;
    font-size:20px;
}
/* individual project classes for background images */
.seo {
    background-image: url(../images/seo-services.jpg);
}
.pike-place {
    background-image: url(../images/pike-place.jpg);
}
.pike-street {
    background-image: url(../images/pike-street.jpg);
}
.smith-tower {
    background-image: url(../images/smith-tower.jpg);
}
.space-needle {
    background-image: url(../images/space-needle.jpg);
}
.seat {
    background-image: url(../images/seat-services.jpg);
}
.flag {
    background-image: url(../images/red-flags.jpg);
}
.ai {
    background-image: url(../images/ai-services.jpg);
    background-color: lightgray;
    background-blend-mode: multiply;
}
.ai p {
    color:black;
    text-shadow: 0px 0px 10px white;
}
.time {
    background-image: url(../images/time-stream.jpg);
}
@media screen and (max-width: 600px) {
    aside {
        background-color: lightgray;
    }

}